* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 80px;
}

.nav-div {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    padding-right: 1rem;
}

.nav-div a {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

footer {
    position: absolute;
    color: #d88e00;
    font-weight: 600;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

@media (min-width: 768px) {
    header img {
        margin-left: 3rem;
    }

    .nav-div {
        gap: 3rem;
        padding-right: 5rem;
    }

    footer {
        margin-left: 3rem;
    }    
}

